@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.root {
    padding: 0.5rem;
    max-width: 80%;
}

.fadeOutStart {
    animation: fadeOut ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.paragraph {
    color: var(--mantine-color-gray-7);
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

@media screen and (min-width: 960px) {
    .root {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .root {
        width: 50%;
        margin: 0 auto;
    }
}
