.root {
  background-color: red;
  color: white;

  &::before {
    background-color: red;
  }
}

.root div:first-of-type {
  background-color: transparent;
}

.description,
.title {
  color: var(--mantine-color-white);
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.closeButton {
  color: var(--mantine-color-white);
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
