.root {
    background-color: var(--mantine-color-white);
    color: white;

    &::before {
        background-color: var(--mantine-color-white);
    }
}

.root div:first-of-type {
    background-color: transparent;
}

.description,
.title {
    color: var(--mantine-color-gray-7);
}

.title {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.closeButton {
    color: var(--mantine-color-gray-9);
}

.closeButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
