.root {
  background-color: var(--mantine-color-orange-6) !important;
  color: white;

  &::before {
    background-color: var(--mantine-color-orange-6) !important;
  }
}

.root div:first-of-type {
  background-color: transparent;
}

.description,
.title {
  color: var(--mantine-color-white) !important;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.closeButton {
  color: var(--mantine-color-white) !important;
}

.closeButton:hover {
  background-color: var(--mantine-color-orange-6) !important;
}
