.groups {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.groupPill {
    background-color: light-dark(var(--mantine-color-blue-2), var(--mantine-color-blue-8));
}

.popoverTarget {
    font-size: 0.9rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));
}

.popoverTargetPill {
    background-color: light-dark(var(--mantine-color-blue-2), var(--mantine-color-blue-8));
}

.popoverTarget:hover {
    color: var(--mantine-color-blue-4);
    text-decoration: underline;
}
