.root {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    line-height: var(--mantine-line-height);
}

.label {
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    display: inline-block;
    font-size: var(--mantine-input-label-size, var(--mantine-font-size-sm));
    font-weight: 500;
    word-break: break-word;
}

.error {
    font-size: 0.8rem;
    color: var(--mantine-color-red-7);
}

.labelError {
    color: var(--mantine-color-red-7);
}

.clearSelection {
    cursor: pointer;
}
