.header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid var(--mantine-color-indigo-1);
}

.contentWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem 2rem 1rem;
}

.actionRoot {
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.supportedLocalesAction {
    display: block;
    color: var(--mantine-primary-color-filled);
    font-size: 0.8rem;
    margin-top: 0.4rem;
    cursor: pointer;
}

.supportedLocalesAction:hover {
    text-decoration: underline;
}
