.root {
    display: grid;
    grid-template-columns: minmax(140px, auto) 1fr;
}

.columnRowShared {
    padding: 0.7rem;
    border-bottom: 1px solid var(--mantine-color-gray-2);
}

.column {
    font-weight: 600;

    padding-right: 1rem;
}

.row {

}