:root {
    --app-font-family: 'Barlow', var(--mantine-font-family), sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: var(--app-font-family);
    font-size: 16px;
}
