.root {
    padding: 1rem 0 1rem 0;
}

.selectedId {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.selectedId span {
    font-weight: 500;
}

.selectActionWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.selectWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.valueOnlyCheckbox {
    margin-top: 18px;
}

.jsonData {
    margin-top: 2rem;
}