.root {
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: var(--mantine-font-family);
  gap: 0.5rem;
  padding: 0.5rem;
}

.header {
  width: 100%;
  border: 1px solid var(--mantine-color-gray-1);
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.content {
  border: 1px solid var(--mantine-color-gray-1);
  border-radius: 1rem;
  margin-top: 0.5rem;
}
