.root {
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-7));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-gray-9));
}

.paddingSection {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding: 1rem;
}

.actionSection {
}

.heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-7));
    margin-bottom: 1rem;
}

.leftMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.buttonWidthLoadingWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.filterButton {
    background-color: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-7));
    border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-8));
    color: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-7));
}

@media screen and (max-width: 590px) {
    .actionSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .leftMenu {
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .leftMenu div:first-of-type {
        width: 100%;
    }

    .filterButton {
        width: 100%;
    }

    .buttonWidthLoadingWrapper {
        width: 100%;
    }

    .buttonWidthLoadingWrapper a:first-of-type {
        width: 100% !important;
    }
}
