.root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sortRoot {
}

.sortTitle {
    font-size: 0.7rem;
    color: var(--mantine-color-gray-9);
}

.disabledTitle {
    color: var(--mantine-color-gray-5);
}

.disabledTitle {
    color: var(--mantine-color-gray-5);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 0.5rem;
    color: var(--mantine-color-gray-6);
    margin: 0.5rem 0 1rem 0;
}

.behaviourColumn {
    flex-direction: row;
    align-items: center;
}

.behaviourReset {
    font-size: 0.7rem;
    margin-left: 1rem;
    color: var(--mantine-color-gray-9);
    font-weight: 500;

    cursor: pointer;
}

.behaviourReset:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.selectedRow {
    color: var(--mantine-color-gray-9);
}
