.root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sortRoot {
}

.sortTitle {
    font-size: 0.7rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-0));
}

.disabledTitle {
    color: light-dark(var(--mantine-color-red-5), var(--mantine-color-gray-7));
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 0.5rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));
    margin: 0.5rem 0 1rem 0;
}

.behaviourColumn {
    flex-direction: row;
    align-items: center;
}

.behaviourReset {
    font-size: 0.7rem;
    margin-left: 1rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-red-2));
    font-weight: 500;

    cursor: pointer;
}

.behaviourReset:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.selectedSort {
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));
}

.unselectedSort {
    color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-9));
}

.selectedRow {
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));
}
