.container {
    display: grid;
    grid-template-columns: 120px 140px 100px 100px 1fr 1fr 1fr;
    align-items: center;
    gap: 0.5rem;

    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-7));

    padding: 1rem 0 1rem 0;
    margin-bottom: 0.8rem;

    font-size: 0.9rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));

    transition:
        transform 0.3s,
        border-bottom 0.3s;
}

.nameRowTitle {
    width: 140px;
    line-height: 1.3rem;
    font-size: 0.9rem;
    word-break: break-word;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2));
}

.container:hover {
    cursor: grab;
}

.pointerContainer:hover {
    cursor: initial;
}

.checkboxWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;

    padding-left: 0.8rem;
}

.hovered {
    border-bottom: 1px solid var(--mantine-color-indigo-2);
    transform: translate(16px, 0);
}

.actionRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.actionIconOverride {
    background-color: var(--mantine-color-gray-0);
    border: 1px solid var(--mantine-color-gray-2);
    transition: background-color 0.4s;
}

.actionIconOverrideDisabled {
    background-color: var(--mantine-color-gray-0);
    border: 1px solid var(--mantine-color-gray-2);
}

.actionIconOverride:hover {
    background-color: var(--mantine-color-gray-3);
}

.actionIconDeleteOverride {
    background-color: var(--mantine-color-red-0);
    border: 1px solid var(--mantine-color-red-2);
    transition: background-color 0.4s;
}

.actionIconOverrideDisabled {
    background-color: var(--mantine-color-gray-0);
    border: 1px solid var(--mantine-color-gray-2);
}

.actionIconDeleteOverride:hover {
    background-color: var(--mantine-color-red-2);
}
