.root {
}

.root:hover {
    cursor: grab;
}

.pointerContainer:hover {
    cursor: initial;
}

.checkboxWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;

    padding-left: 0.8rem;
}

.hovered {
    border-bottom: 1px solid var(--mantine-color-indigo-2);
}

.actionRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.actionIconOverride {
    background-color: var(--mantine-color-gray-0);
    border: 1px solid var(--mantine-color-gray-2);
    transition: background-color 0.4s;
}

.actionIconOverrideDisabled {
    background-color: var(--mantine-color-gray-0);
    border: 1px solid var(--mantine-color-gray-2);
}

.actionIconOverride:hover {
    background-color: var(--mantine-color-gray-3);
}

.actionIconDeleteOverride {
    background-color: var(--mantine-color-red-0);
    border: 1px solid var(--mantine-color-red-2);
    transition: background-color 0.4s;
}

.actionIconOverrideDisabled {
    background-color: var(--mantine-color-gray-0);
    border: 1px solid var(--mantine-color-gray-2);
}

.actionIconDeleteOverride:hover {
    background-color: var(--mantine-color-red-2);
}
