.root {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.formRoot {
    width: 100%;
    margin-top: 2rem;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 2rem;
}

.highlightInfoText {
    font-weight: bold;
}

@media screen and (min-width: 520px) {
    .root {
        flex-direction: row-reverse;
        gap: 4rem;
    }
}
