.root {
    width: 50%;
    margin-top: 2rem;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 2rem;
}

.highlightInfoText {
    font-weight: bold;
}
