.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.info {
    width: 50%;
    line-height: 1.5rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-2))
}

.info .important {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.info .danger {
    margin: 2rem 0 0.5rem 0;
    padding: 1rem;
    border-radius: 4px;
    background-color: light-dark(var(--mantine-color-yellow-9), var(--mantine-color-yellow-9));
    color: light-dark(var(--mantine-color-white), var(--mantine-color-gray-9));
}

.formWrapper {
    width: 60%;
}

.form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
}
