.root {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    min-height: 80vh;
}

.skeleton {
    width: 100%;
    height: 480px;
    position: relative;
}

.selectedItemsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;

    color: var(--mantine-color-gray-7);
    font-size: 0.9rem;
    font-weight: 200;
}

.selectedItemsContainer span {
    font-weight: 600;
}

.totalInfo span {
    font-weight: 600;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.errorContainer {
    width: 100%;
    position: relative;
    height: 300px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    padding: 1rem;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
}

.paginationEmpty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    color: var(--mantine-color-gray-7);
    font-size: 0.9rem;
    word-spacing: 0.1rem;
}

.stickyFooter {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: white;
    padding: 1rem;
    gap: 2rem;
    border-radius: 4px;
}
