.root {
    padding: 1rem 0 1rem 0;
}

.sectionDescription {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 0.9em;
    width: 50%;
    color: var(--mantine-color-gray-6);
    line-height: 1.4rem;

    margin-bottom: 2rem;

    background-color: var(--mantine-color-gray-0);
    padding: 1rem 1rem 1rem 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--mantine-color-gray-2);
}

.sectionDescription .highlight {
    display: inline-block;
    font-weight: 600;
    margin-right: 0.3rem;
}

.selectedId {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.viewSection {
    margin-top: 2rem;
    width: 100%;
}

.curl {
    position: relative;
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--mantine-color-gray-2);
    border-radius: 8px;

    background-color: var(--mantine-color-gray-0);
}

.curlOverflowedSection {
    width: 90%;
    line-height: 1.4rem;
}

.curlCopyIcon {
    position: absolute;
    top: 12px;
    right: 12px;
}

.selectedId span {
    font-weight: 500;
}

.selectActionWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.singleColumnWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.fieldsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.selectWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.valueOnlyCheckbox {
    margin-top: 18px;
}

.findButton {
    margin-top: 15px;
}

.jsonData {
    margin-top: 2rem;
}
