.root {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    font-size: 1rem;
    color: var(--mantine-color-gray-9);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.description {
    color: var(--mantine-color-gray-7);
    width: 75%;
    line-height: 1.6rem;
}

.switchWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;

    margin-top: 2rem;
}