.root {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}

.nodeRoot {
    width: 100%;
}

.nodeRootObject {
    border: 1px solid light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-7));
    border-radius: 4px;

    padding: 1rem;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem;

    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
}

.expandableRoot {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-left: 1rem;
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
}

.expandable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.expandIcon {
    margin-top: 4px;
}

.nodeRoot {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stringValue {
    line-height: 1.6rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
}

.emptyStringValue {
    line-height: 1.6rem;
    font-style: italic;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-4));
}

.numberValue {
    line-height: 1.6rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
    border-radius: 8px;
    border: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
}

@media screen and (max-width: 920px) {
    .root {
        width: 100%;
    }
}
